html{
    scroll-behavior: smooth;
}

main .alert {
    position: absolute;
    z-index: 999;
    top: 15;
}



body {
    background-color: var(--primary-color);
}
h1 {
    color: var(--secondary-color);
}